doctype 5
html
  head
    title Entrega 11 - PUG
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css")
    style body { padding-top:50px; padding-left:50px; padding-right:50px }